<div class="joke" id="<%= @joke.id %>">
  Joke: <%= @joke.body %><br>
  Rating: <%= @joke.rating %><br>
</div>

<div id="funny">
Funny:
<%= check_box_tag "" %>
</div>

<div id="not-funny">
Not funny:
<%= check_box_tag  ""%>
</div>

Click to see dirty jokes

Button back to <%= link_to 'JokeBooth', home_path %>

Swipe left: that joke sucked

Swipe right: LOLs
