<div class="joke" id="<%= @joke.id %>">
  Joke: <%= @joke.body %><br>
  Rating: <%= @joke.rating %><br>
</div>

<div id="funny">
  <%= link_to "Funny", joke_path(@joke, vote: "up"), method: "PUT" %>
</div>

<div id="not-funny">
  <%= link_to "Not Funny", joke_path(@joke, vote: "down"), method: "PUT" %>
</div>

<br>Button back to <%= link_to 'JokeBooth', home_path %>
