
<div class="joke" id="<%= @joke.id %>">
  Joke: <%= @joke.body %><br>
  Rating: <%= @joke.rating %><br>
</div>

<div class="buttons">
<div id="funny">
  <%= link_to "Yay", joke_path(@joke, vote: "up"), method: "PUT", class: "btn1" %>
</div>

<div id="not-funny">
  <%= link_to "Nay", joke_path(@joke, vote: "down"), method: "PUT", class: "btn2" %>
</div>
</div>
